<head>

  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style>
    .upsize {
      font-size: 20px;
    }
  </style>

</head>

<body>
  <div id="calculator">
    <b-container fluid class="form">
      <b-row class="mb-4 mt-4">
        <b-col class="row justify-content-center">
          <h5>RPE Training Calculator</h5>
        </b-col>
      </b-row>

      <b-row >
        <b-col class="upsize row justify-content-left">Target Reps</b-col>
        <b-col class="upsize row justify-content-center">=</b-col>
        <b-col class="upsize row justify-content-left">{{ target_reps }}</b-col>
      </b-row>
      <b-row>
        <b-col>
          <input class="form-control" v-model="target_reps" type="range" min="0" max="10" step="1">
        </b-col>
      </b-row>
      <br>
 

      <b-row>
        <b-col class="upsize row justify-content-left">Target RPE</b-col>
        <b-col class="upsize row justify-content-center">=</b-col>
        <b-col class="upsize row justify-content-left">{{ target_rpe }}</b-col>
      </b-row>
      <b-row>
        <b-col>
          <input class="form-control" v-model="target_rpe" type="range" min="6" max="10" step="0.5">
        </b-col>
      </b-row>
      <br>

      <b-row>
        <b-col class="upsize row justify-content-left">Actual Reps</b-col>
        <b-col class="upsize row justify-content-center">=</b-col>
        <b-col class="upsize row justify-content-left">{{ actual_reps }}</b-col>
      </b-row>
      <b-row>
        <b-col>
          <input class="form-control" v-model="actual_reps" type="range" min="0" max="10" step="1">
        </b-col>
      </b-row>
      <br>

      <b-row>
        <b-col class="upsize row justify-content-left">Actual RPE</b-col>
        <b-col class="upsize row justify-content-center">=</b-col>
        <b-col class="upsize row justify-content-left">{{ actual_rpe }}</b-col>
      </b-row>
      <b-row>
        <b-col>
          <input class="form-control" v-model="actual_rpe" type="range" min="6" max="10" step="0.5">
        </b-col>
      </b-row>

     <!--  <datalist id="rpevalues">
        <option v-for="rpe in rpe_values" v-bind:value="rpe" v-bind:label="rpe"></option>
      </datalist> -->
      <b-row class="mt-4">
        <b-col>
          <b-button v-on:click="calculateRPE">What next?</b-button>
        </b-col>
        <b-col>
          <b-button v-on:click="reset">Reset</b-button>
        </b-col>
      </b-row>
      <b-row class="mt-3">
        <b-col>
          <h4>{{message}}</h4></b-col>
      </b-row>
    </b-container>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="calc.js"></script>
</body>
